        <%= javascript_include_tag 'modernizr.custom.js' %> <script type="text/javascript"> </script>
       <%= stylesheet_link_tag    'default.css' %>
       <%= stylesheet_link_tag    'component.css' %>
        <%= stylesheet_link_tag  "grid.css" %>
<br>
<br>

 <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text" id="applies1-15">Apply Now</h2>
                            <hr>
                        </div>

<%= form_for(@apply) do |f| %>
  <% if @apply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apply.errors.count, "error") %> prohibited you from applying:</h2>

      <ul>
      <% @apply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                            <div class="form-group">
                            <%= f.text_field :first_name, placeholder: "First Name* ", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.text_field :last_name, placeholder: "Last Name*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.text_field :city, placeholder: "City*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= select_tag :state, options_for_select(us_states), prompt: "State*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.text_field :purchase_price, placeholder: "Est. Purchase Price*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.text_field :down_payment, placeholder: "Est. Down Payment*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.email_field :email, placeholder: "Email*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= f.phone_field :phone_number, placeholder: "Phone Number*", :class=>"form-control" %>
                            </div>
                            <div class="form-group">
                            <%= select_tag :contact_method, options_for_select([["Preferred Contact*", ""], "Phone", "Email"]), :class => 'form-control' %>
                            </div>
                            <br>
                            <br>
                            <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-info">Submit</button>
                            <a href="/" class="mbr-buttons__btn btn btn-lg btn-danger">Cancel</a>
                            </div>

                       <% end %>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


