<header>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
          <!-- Hero title -->
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ici</h2>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <div class="row">
            <div class="span6">
              <p><a href="#" class="btn btn-large btn-warning">View Project</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <img src="<%= asset_path('img/banner.png')%>" alt="" border="0"> </div>
    </div>
  </div>
</header>
<div class="bor"></div>
<div class="main">
  <div class="container">
    <div class="tite">
      <div class="row">
        <div class="span12">
          <!-- Big title -->
          <p class="tit">Ut ut sapien vitae elit <span>imperdiet lacinia non sodales enim</span></p>
          <!-- Para -->
          <p class="tpara">Sed vitae tellus augue, non malesuada ante. Fusce rutrum ante non nisi blandit aliquet. Ut aliquet eros vel nisl accumsan luctus.</p>
          <!-- Page title -->
          <h2><b>Blog</b></h2>
        </div>
      </div>
    </div>
    <div class="content two-column">
      <div class="row">
        <div class="span8">
          <!-- Left column -->
          <!-- Blog posts. Each post should be enclosed inside "entry" class -->
          <div class="posts">
            <div class="entry">
              <!-- Post title -->
              <h2><a href="#">Pellentesque habitant morbi tristique</a></h2>
              <!-- Post meta information -->
              <p class="meta"><i class="icon-calendar"></i>&nbsp; 12/08/2012 - <i class="icon-user"></i>&nbsp; Ashok - <i class="icon-folder-close"></i>&nbsp; <a href="#">Diam</a>, <a href="#">Bestibulum</a> - <i class="icon-tags"></i>&nbsp; <a href="#">Iam</a>, <a href="#">Bulum</a></p>
              <!-- Post para -->
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ipsum risus, in pharetra sem. Nam sit amet arcu nunc, a fermentum velit. Suspendisse libero massa, vulputate eu facilisis non, condimentum ut magna. Nam lobortis, orci sit amet pretium luctus, nibh eros pellentesque ante, mollis malesuada tellus purus volutpat sem. Proin pulvinar, diam non varius gravida, leo sapien imperdiet lorem, sit amet imperdiet risus nisl sed neque. Vestibulum eu felis eu eros semper malesuada. Cras enim quam, tempus non iaculis eget, mollis id ligula. Praesent est libero, elementum nec ullamcorper a, semper in mi. Donec ultrices mi nec mi ultricies vitae sagittis nulla lacinia. In rutrum felis quis odio placerat malesuada.</p>
              <p>Suspendisse potenti. Suspendisse potenti. In quis dolor sed tellus ornare luctus. Praesent euismod fringilla rutrum. Sed ultrices pulvinar lobortis. Fusce eros leo, posuere non blandit scelerisque, consectetur sit amet massa. Sed interdum bibendum leo sed facilisis. Mauris egestas, tellus ut gravida tristique, arcu eros tristique tortor, in dapibus risus tellus non dui. Maecenas ut turpis ante. Sed pretium, sem ac aliquet cursus, tortor lectus aliquam justo, in bibendum odio massa vitae arcu. Nullam fermentum molestie faucibus. Nulla id rhoncus ante. Pellentesque bibendum euismod sapien in rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <div class="border"></div>
            </div>
            <!-- Comment field -->
            <div class="comments">
              <div class="comment-list">
                <!-- Comment title -->
                <h3>5 Comments</h3>
                <!-- Each comment should be enclosed inside class "comment-entry" -->
                <div class="comment-entry">
                  <!-- Comment author name -->
                  <div class="c-author"><a href="#">Ashok</a></div>
                  <!-- Comment date -->
                  <div class="c-meta">Commented on <i class="icon-calendar"></i>26-6-2012</div>
                  <!-- Comment -->
                  <div class="comment">Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam fringilla mauris lectus, in laoreet justo. Aliquam ut pharetra erat.</div>
                </div>
                <div class="comment-entry c-reply">
                  <div class="c-author"><a href="#">Ashok</a></div>
                  <div class="c-meta">Commented on <i class="icon-calendar"></i>26-6-2012</div>
                  <div class="comment">Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam fringilla mauris lectus, in laoreet justo. Aliquam ut pharetra erat.</div>
                </div>
                <div class="comment-entry">
                  <div class="c-author"><a href="#">Ashok</a></div>
                  <div class="c-meta">Commented on <i class="icon-calendar"></i>26-6-2012</div>
                  <div class="comment">Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam fringilla mauris lectus, in laoreet justo. Aliquam ut pharetra erat.</div>
                </div>
              </div>
              <div class="make-comment">
                <!-- Comment form -->
                <!-- Comment form title -->
                <h3>Leave a Reply</h3>
                <div class="c-form">
                  <form class="form-horizontal">
                    <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="name">Name</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="name">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="email">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="website">Website</label>
                      <div class="controls">
                        <input type="text" class="input-medium" id="website">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="comment">Comment</label>
                      <div class="controls">
                        <textarea class="input-large" id="comment" rows="5"></textarea>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn">Make Comment</button>
                    </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
            <!-- Pagination -->
            <ul class="pager">
              <li class="previous"> <a href="#">&larr; Previous Post</a> </li>
              <li class="next"> <a href="#">Next Post&rarr;</a> </li>
            </ul>
          </div>
        </div>
        <!-- Right column - Sidebar -->
        <div class="span4">
          <div class="sidebar">
            <!-- Place each sidebar section inside the class "well" -->
            <div class="well">
              <!-- Sidebar content title -->
              <h3>Praesent <i class="icon-tag pull-right"></i></h3>
              <!-- Sidebar content -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.</p>
            </div>
            <div class="well">
              <!-- Sidebar content title -->
              <h3>Search <i class="icon-search pull-right"></i></h3>
              <!-- Sidebar content -->
              <form class="form-search">
                <input type="text" class="input-medium">
                <button type="submit" class="btn btn-primary margin-left10">Search</button>
              </form>
            </div>
            <!-- Same as above -->
            <div class="well">
              <h3>Categories <i class="icon-beaker pull-right"></i></h3>
              <ul>
                <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of container -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>