<header>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
          <!-- Hero title -->
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ici</h2>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <div class="row">
            <div class="span6">
              <p><a href="#" class="btn btn-large btn-warning">View Project</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <img src="<%= asset_path('img/banner.png')%>" alt="" border="0"> </div>
    </div>
  </div>
</header>
<div class="bor"></div>
<div class="main">
  <div class="container">
    <div class="tite">
      <div class="row">
        <div class="span12">
          <!-- Title -->
          <p class="tit">Ut ut sapien vitae elit <span>imperdiet lacinia non sodales enim</span></p>
          <!-- Para -->
          <p class="tpara">Sed vitae tellus augue, non malesuada ante. Fusce rutrum ante non nisi blandit aliquet. Ut aliquet eros vel nisl accumsan luctus.</p>
          <!-- Contact page title -->
          <h2><b>Contact Page</b></h2>
        </div>
      </div>
    </div>
    <div class="content contact">
      <div class="row">
        <div class="span8">
          <!-- Google map -->
          <div class="gmap">
            <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
            <iframe height="231" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe>
          </div>
          <div class="form">
            <!-- Contact form (not working)-->
            <form class="form-horizontal">
              <fieldset>
              <!-- Contact form title -->
              <legend>Contact Us</legend>
              <!-- Contact form para -->
              <p>Aliquam erat volutpat. Vestibulum molestie consectetur risus, id facilisis velit aliquet sed. Ut augue nisi, laoreet eu aliquam in, tempor vitae mi. </p>
              <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                  <input type="text" class="input-medium" id="name">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" class="input-medium" id="email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="comment">Comment</label>
                <div class="controls">
                  <textarea class="input-madium" id="comment" rows="3"></textarea>
                </div>
              </div>
              <div class="form-actions">
                <!-- Buttons -->
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn">Reset</button>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="sidebar">
            <div class="well">
              <!-- Address -->
              <h3>Address</h3>
              <div class="address">
                <address>
                <!-- Company name -->
                <strong>Sixnode, Inc.</strong><br>
                <!-- Address -->
                Railsview.com <br>
                401 Richmond St. West <br>
                Suite 409 Toronto, ON, M5V 3A8 <br>
                <!-- Phone number -->
                <abbr title="Phone">P:</abbr> (123) 456-7890.
                </address>
                <address>
                <!-- Name -->
                <strong>Full Name</strong><br>
                <!-- Email -->
                <a href="mailto:#">first.last@gmail.com</a>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of container -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>