<header>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
          <!-- Hero title -->
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ici</h2>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <div class="row">
            <div class="span6">
              <p><a href="#" class="btn btn-large btn-warning">View Project</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <img src="<%= asset_path('img/banner.png')%>" alt="" border="0"> </div>
    </div>
  </div>
</header>
<div class="bor"></div>
<div class="main">
  <div class="container">
    <div class="tite">
      <div class="row">
        <div class="span12">
          <!-- Big title -->
          <p class="tit">Ut ut sapien vitae elit <span>imperdiet lacinia non sodales enim</span></p>
          <!-- Para -->
          <p class="tpara">Sed vitae tellus augue, non malesuada ante. Fusce rutrum ante non nisi blandit aliquet. Ut aliquet eros vel nisl accumsan luctus.</p>
        </div>
      </div>
    </div>
    <div class="content features-list">
      <div class="row">
        <div class="span12">
          <!-- Page title -->
          <h2><b>Features List</b></h2>
          <!-- Paragraph -->
          <h3>Paragraph</h3>
          <p><img src="<%= asset_path('img/photos/tn_1.jpg')%>" alt="" class="imgalignleft"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum pretium lectus, ac facilisis est tempor scelerisque. Aliquam ligula purus, eleifend non porttitor at, commodo ut sem. Aenean sit amet erat in dolor iaculis semper in quis enim. Vivamus elementum erat eu leo suscipit vestibulum. Suspendisse non urna vel lorem rhoncus tristique vitae quis risus. Integer elit lectus, sollicitudin a pharetra at, suscipit sit amet metus. Phasellus congue vulputate nibh, eu semper nisl fringilla ut. Proin sit amet erat diam, quis porttitor purus. Curabitur neque libero, tempor in volutpat a, eleifend eu lectus. Sed at est metus. Aliquam erat volutpat. Vestibulum molestie consectetur risus, id facilisis velit aliquet sed. Ut augue nisi, laoreet eu aliquam in, tempor vitae mi. Phasellus tincidunt odio sit amet erat suscipit sollicitudin. Vivamus eleifend tincidunt quam ut ultrices. Nam placerat hendrerit diam, eu adipiscing eros rhoncus sit amet.</p>
          <p><img src="<%= asset_path('img/photos/tn_2.jpg')%>" alt="" class="imgalignright"/> Pellentesque et laoreet eros. Maecenas dictum, eros vel sodales convallis, nulla magna varius lectus, non ultricies lectus augue bibendum turpis. Nam auctor, augue in venenatis dapibus, sem lectus dictum urna, in sodales mi felis et ligula. vestibulum, metus pretium condimentum sollicitudin, augue nunc pretium mi, vel pellentesque enim tellus vitae lorem. Ut a urna lacus, sed porttitor elit. Ut augue nisi, laoreet eu aliquam in, tempor vitae mi. Phasellus tincidunt odio sit amet erat suscipit sollicitudin. Vivamus eleifend tincidunt quam ut ultrices. Nam placerat hendrerit diam, eu adipiscing eros rhoncus sit amet. Ut sodales mauris eget nisl gravida posuere. Aliquam erat volutpat. Sed tincidunt tempus sem id consequat. Ut augue nisi, laoreet eu aliquam in, tempor vitae mi. Phasellus tincidunt odio sit amet erat suscipit sollicitudin. Vivamus eleifend tincidunt quam ut ultrices. Nam placerat hendrerit diam, eu adipiscing eros rhoncus sit amet.</p>
          <div class="border"></div>
          <!-- Blockquote -->
          <h3>Blockquote</h3>
          <p>
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum pretium lectus, ac facilisis est tempor scelerisque. Aliquam ligula purus, eleifend non porttitor at, commodo ut sem. <small>Ashok</small></blockquote>
          </p>
          <div class="border"></div>
          <!-- Lists -->
          <h3>Lists</h3>
          <ul>
            <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
            <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
            <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
            <li>Maecenas hendrerit neque id ante dictum mattis</li>
            <li>Vivamus non neque lacus, et cursus tortor</li>
          </ul>
          <ol>
            <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
            <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
            <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
            <li><a href="#">Vivamus scelerisque dui in massa</a></li>
            <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
          </ol>
          <dl>
            <dt>Etiam</dt>
            <dd>Cras tincidunt mi non arcu hendrerit eleifend.</dd>
            <dt>Aenean</dt>
            <dd>Maecenas hendrerit neque id ante dictum mattis.</dd>
          </dl>
          <div class="border"></div>
          <!-- Form -->
          <h3>Form</h3>
          <div class="form">
            <!-- Contact form (not working)-->
            <form class="form-horizontal">
              <fieldset>
              <legend>Contact Us</legend>
              <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                  <input type="text" class="input-medium" id="name">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" class="input-medium" id="email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="comment">Comment</label>
                <div class="controls">
                  <textarea class="input-madium" id="comment" rows="3"></textarea>
                </div>
              </div>
              <div class="form-actions">
                <!-- Buttons -->
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn">Reset</button>
              </div>
              </fieldset>
            </form>
          </div>
          <div class="border"></div>
          <!-- Well -->
          <h3>Well Class</h3>
          <div class="well">Curabitur justo mauris, lobortis ut tristique ut, ultricies in sem. Donec risus enim, fringilla id imperdiet a, blandit sed nibh. Fusce eget dolor eget justo egestas convallis in quis nisi. Sed nec turpis a erat dictum posuere eget sit amet orci. Integer ornare, erat mollis eleifend bibendum, justo dolor commodo enim, et viverra nisi quam id felis. Fusce tincidunt felis sed nulla posuere eu dignissim purus interdum. Maecenas viverra dictum neque a fringilla. Donec vel nulla odio, ut semper urna. Vestibulum dapibus porttitor mollis. Integer ac tortor lacus. </div>
          <!-- Labels -->
          <h3>Labels</h3>
          <p> <span class="label">Default</span> <span class="label label-success">Success</span> <span class="label label-warning">Warning</span> <span class="label label-important">Important</span> <span class="label label-info">Info</span> <span class="label label-inverse">Inverse</span> </p>
          <div class="border"></div>
          <!-- Badges -->
          <h3>Badges</h3>
          <p> <span class="badge">1</span> <span class="badge badge-success">2</span> <span class="badge badge-warning">4</span> <span class="badge badge-important">6</span> <span class="badge badge-info">8</span> <span class="badge badge-inverse">10</span> </p>
          <div class="border"></div>
          <!-- Font Awesome Icons -->
          <h3>Font Awesome Icons</h3>
          <p><a href="http://fortawesome.github.com/Font-Awesome/">Visit Font Awesome</a> for complete list.</p>
          <p> <i class="icon-user btn"></i> <i class="icon-tag btn"></i> <i class="icon-bell btn"></i> <i class="icon-sitemap btn"></i> <i class="icon-star btn"></i> <i class="icon-plane btn"></i> <i class="icon-gift btn"></i> <i class="icon-camera btn"></i> <i class="icon-heart btn"></i> <i class="icon-truck btn"></i> <i class="icon-upload btn"></i> <i class="icon-comment btn"></i> <i class="icon-leaf btn"></i> <i class="icon-retweet btn"></i> <i class="icon-lock btn"></i> </p>
          <div class="border"></div>
          <!-- Buttons -->
          <h3>Buttons</h3>
          <p>
            <button class="btn">Y</button>
            <button class="btn btn-primary">U</button>
            <button class="btn btn-info">No</button>
            <button class="btn btn-success">Buy</button>
            <button class="btn btn-warning">My</button>
            <button class="btn btn-danger">Template</button>
            <button class="btn btn-inverse">?!?</button>
          </p>
          <div class="border"></div>
          <h3>Fieldset</h3>
          <fieldset>
          <legend>Fieldset Title</legend>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. Praesent ultricies enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
          </fieldset>
          <div class="border"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of container -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>