<%= render 'layouts/header' %>


<section class="engine"><a rel="external" href="https://mobirise.com"></a></section><section class="mbr-section mbr-after-navbar" id="video2-15">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg mbr-figure--caption-outside-bottom">
                    <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/g_g4RXAn2ek?rel=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
                    </div>

                </figure>


            </div>
        </div>
    </div>

<section class="mbr-section padrows" id="image2-17">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><img src="<%= asset_path('reflector-1279x235-54.png')%>" class="mbr-figure__img"></div>

                </figure>
            </div>
        </div>
    </div>
</section>


</section>




<%= render 'layouts/grid' %>

<%= render 'layouts/displaytest' %>







<!--     <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" /> -->









  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
