<%= render 'layouts/header' unless @disable_nav %>


      <div class="hero-container">

        <center>
<iframe width="427" height="240" src="https://www.youtube.com/embed/fCZ__KKtNcI" frameborder="0" allowfullscreen></iframe> <br> <div class "img-vid-wrapper"> <img src="<%= asset_path('img/reflect-test.png')%>" width="427" height="240" alt="" border="0"> </div>
        </center>
          </div>
        </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span12">

      </div>

        <div class="row">  </div>
      </div>
    </div>
  </div>
</header>
<div class="padd">
  <h2>Explore Your Loan Options</h2>
</div>



<!--     <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" /> -->



<%= render 'layouts/grid' unless @disable_nav %>

<%= render 'layouts/mainwrapper' unless @disable_nav %>

<%= render 'layouts/testimonials' unless @disable_nav %>



    <!-- Buttons. Replace # with your link -->
    <div class="buttons"></div>
  </div>
  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
