        <%= javascript_include_tag 'modernizr.custom.js' %> <script type="text/javascript"> </script>
       <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>
       <%= stylesheet_link_tag    'component.self-8b53d3bcc965f549da26f6eaf632df0b5c1.css' %>
        <%= stylesheet_link_tag  "grid.css" %>

<br>
<br>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-28" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
        <%= render_breadcrumbs %>
        <br>
        <h1 class="mbr-header__text">Rates in Free Fall</h1>
        <%= image_tag('rates_fall.png') %>
            <div class="col-sm-8 col-sm-offset-2">

            </div>
        </div>
    </div>

    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p style="text-indent:25px;">Most consumers believe interest rates (i.e. in this case mortgage rates) are directly tied to the fed funds rate.  This is a common misconception, but yet can be considered partially true.  One aspect of the mortgage market that is directly tied to the fed funds rate is home equity lines.  Banks closely align their prime rate with the Fed Funds rate.  The prime rate is typically extended to their least risky borrowers.  When you take out a home equity line it is typically the prime rate + their calculated risk to lending to you (add-on) and that will equal your interest rate on your line.
    <p>Now when it comes to your actual interest rate on say your typical 30 year mortgage it is much more complicated.  These interest rates are almost always based on the 10 year treasury bond yield.  In essence where the value of that bond is trending.  Despite the duration of these bonds being 10 years, this is considered more of a short term debt.  While the funds rate is considered much more long term.  We all remember the from the 1980’s into the early 2000’s when Alan Greenspan would be on television saying we are cutting the fed funds rate or increasing.  This was such a big deal because it stated what direction the economy was moving in the long term.</p>

    <p>So where are mortgage rates going today?  This question in years past might of been easier to answer.  The uneven recovery globally, further complicated with how intertwined global economy is in this age, could make your guess as good as mine.  However, we do have some past indicators that could help us make an educated forecast.  We do have a few wildcards to deal first.  One being that is an election year, which means a lot of rhetoric that can drive the markets crazy.  But typically, between August and November of a Presidential election, you almost always see at least a 0.10 tick up in the 10 year year treasury.  Furthermore, consumer spending and borrowing usually increases at the end of the summer, as families gear up for another school year.  These reports are not usually available until later in the Fall and thus don’t affect the market immediately.  These two indicators would almost certainly indicate that we should be trending upwards at the moment.  But, we just hit a 3.5 year low with the 10 year treasury hitting 1.57 today (Tuesday June 14th.) </p>
    <p>So what gives? There are a wide variety of factors, weak jobs report.  Fear of China banking crisis (weren’t they paying attention to the monster: our past housing market created?).  And the of course the continuous never ending question of the what the hell is going on with the Euro?
    <p>Given past history combined with the numerous negative market trends of current.  I think it is safe to assume that rates will stay near the bottom of historical lows for the very short-term.  And then trend upwards to mid-range historical lows late Summer to early Fall.  And from September to November is anyways guess with this election cycle.  I think you can expect rates to act erratic on a daily basis during that time period.  But over the long term after the election cycle ends, you can start expecting a steady upward trend towards the top of historical lows, if not further.
 </p>


</div>
        </div>
    </div>

</section>
