 <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                                                <div class="mbr-header--left mbr-header--std-padding">
                        <%= render_breadcrumbs %>
                        </div>
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">

                            <h2 class="mbr-section__header" id="contacts1-15">Post a Testimonial</h2>
                            <hr>
                        </div>


<%= form_for [@testimonial] do |f| %>
   <div class="form-group">
    <%= f.text_area :description, :cols => "10", :rows => "10", placeholder: "Let us know about your experience", :class=>"form-control" %>
    </div>
  <%= f.label :rating, "Rating (1-10)" %>
  <%= f.text_field :rating %>

  <% if @testimonial.persisted? %>
 <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-info">Edit</button>
  <% else %>
 <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-info">Submit</button>
  <% end %>
<% end %>
<a href="/" class="mbr-buttons__btn btn btn-lg btn-danger">Cancel</a>
                            </div>
   </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



