<section class="mbr-section mbr-section--relative mbr-section--fixed-size">
<div class="mbr-section__row row" id="article_container">
    <%= stylesheet_link_tag 'article.css' %>
    <%= stylesheet_link_tag 'article_style.css' %>
    <%= stylesheet_link_tag 'jquery.jscrollpane.css', media: "all" %>

    <div class="container">
      <h2 id="h2_correction">Mortgage Insights</h2>
      <div id="ca-container" class="ca-container">
        <div class="ca-wrapper">
         <% @articles.each do |article| %>
          <div class="ca-item ca-item">
            <div class="ca-item-main">
            <br>
              <div class="ca-icon" style="background:url(<%= asset_path("#{article.landing_img_path}") %>) no-repeat center center;"></div>
              <h3 id="h2_correction"><%= article.title %></h3>
              <br>
              <h4>
                <span class="ca-quote">&ldquo;</span>

                <span> <%= article.line_preview %>... </span>
              </h4>

             <!--   <script type="text/javascript">
                var windowSize = window.innerWidth;
              if (windowSize < 699) {
                var strLink = ""
                var mwClass = "ca-mobile-more"
                document.getElementById("art").setAttribute("href",strLink);

                document.getElementById("art").setAttribute("class",mwClass);
              } else {
                var atrLink = "#"
                document.getElementById("art").setAttribute("href",atrLink);
              }
              </script> -->
              <a href="<%= "#{article.article_route}" %>" class="my-ca-more">more...</a></div>



<!--             <div class="ca-content-wrapper">
              <div class="ca-content">
                <h3 id="h2_correction">/h3>
                <a href="#" class="ca-close">close</a>
                <div class="ca-content-text">
                 <p>...</p>

                </div>
                <ul>
                  <li><a href="">Read full article</a></li>
                  <li><a href="#">Share this</a></li>
                </ul>
              </div>
            </div> -->
          </div>

          <% end %>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
   <%= javascript_include_tag 'jquery.easing.1.3.js' %>
    <!-- the jScrollPane script -->
    <%= javascript_include_tag 'jquery.mousewheel.js' %>
    <%= javascript_include_tag 'jquery.contentcarousel.js' %>

    <script type="text/javascript">
      $('#ca-container').contentcarousel();
    </script>

  <%= stylesheet_link_tag    "mbr-bootstrap.min.self-284e9de4b83af461c76d7fbe082.css" %>
  <%= stylesheet_link_tag  "mbr-style.self-ad2355dd360c8f24d167978a5ce7870881f.css" %>
  <%= stylesheet_link_tag  "mbr-additional.self-8e02c2e8282b5fb02058143efbb2d0.css" %>
  <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>

</div>
</section>
