        <%= javascript_include_tag 'modernizr.custom.js' %> <script type="text/javascript"> </script>
       <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>
       <%= stylesheet_link_tag    'component.self-8b53d3bcc965f549da26f6eaf632df0b5c1.css' %>
        <%= stylesheet_link_tag  "grid.css" %>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-28" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="mbr-header__text">What You Need to Know</h1>

            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p style="text-indent:25px;">After nearly a decade in the mortgage industry, certain realities became quite apparent to me.  Most consumers don’t understand how the mortgage process works.  Furthermore complicating the issue, is that most mortgage brokers, loan officers, and executives don’t understand how the mortgage process works (yes, them too).  Or in some cases they are unable to comprehend loan guidelines.
            <p style="text-indent:25px;">Over the years I used my technical knowledge to find a better way to reach out to as many customers as I could.  My favorite clients typically ended up being fellow mortgage brokers in the industry.  They thought they stuck in their current programs, or couldn’t purchase a new home, or even an investment property.  Like all my other customers I educated them about some of the options out there, even if wasn’t an option that I could provide.
            <p style="text-indent:25px;">I worked alongside many of the best, and befriended many others.  Some of these mortgage brokers were overwhelmingly capable of providing a mortgage experience that would leave any customer breathing a sigh of relief.  Others, were possibly borderline capable of filling out your application correctly.
            <p style="text-indent:25px;">I felt it was time to apply my technical skills elsewhere.  However, I still wanted to reach out to customers, but this time I wanted to offer more of my insights, and now my connections.
            <p style="text-indent:25px;">I have had the pleasure of meeting some of best mortgage loan brokers in the industry.  I know the mortgage market down to the microscopic level.  I would like to share not only my connections, but also a look inside the mortgage industry about rates, guidelines, and unknown loan programs.  Specifically the Doctor Loan...</p>
              <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="mbr-header__text center" style="color:#09539a;">DOCTORLOANS.IO</h1>

            </div>
        </div>
    </div>


            <p style="text-indent:25px;">If you’re a professional in the medical field, who is looking to buy a home, I can help. The Doctor Loan was designed to meet your specific needs, and may make it easier for you to qualify for a mortgage.  The Doctor Loan is a sensible choice for medical residents and licensed, practicing eligible medical professionals, including dentists. Contact me to learn more. I can have a mortgage professional contact you immediately.  They will be there to help you through the whole process, from application till closing.  I can promise you whether your after a niche program or more pleasant purchase experience from a conventional loan program, my mortgage brokers will have you telling your friends that there is hope for those seeking a smooth mortgage process, despite the industry's hurdles of today. </p>
            <br>
            <br>






</div>
        </div>
    </div>

</section>


<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-12" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">Explore Your Loan Options</h3>

            </div>
        </div>
    </div>




    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">

                    <figure class="mbr-figure">
                    <a href="<%= asset_path(doctor_path) %>">
                    <%= image_tag 'thumbs/thumb1.png', class: "mbr-figure__img", alt: 'doctor loan link logo' %>
                        <figcaption>

                        <p>Do you qualify?</p>

                        </figcaption>
                    </a>
                    </figure>
                    </div>






            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(new_apply_path) %>">
                    <%= image_tag 'thumbs/thumb2.png', class: "mbr-figure__img", alt: 'apply now link logo' %>
                        <figcaption>

                        <p>Let's get started.</p>

                        </figcaption>
                    </a>
                    </figure>
                </div>


            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(other_path) %>">
                    <%= image_tag 'thumbs/thumb3.png', class: "mbr-figure__img", alt: 'other loan link logo' %>
                        <figcaption>

                        <p>Not a Doctor?</p>

                        </figcaption>
                    </a>
                    </figure>
                </div>


            </div>

            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(new_contact_path) %>">
                    <%= image_tag 'thumbs/thumb4.png', class: "mbr-figure__img", alt: 'contact us link logo', style: 'height:100%; width:100%' %>
                        <figcaption>

                        <p>Contact Us.</p>

                        </figcaption>
                        </a>
                    </figure>
                </div>



        </div>
    </div>
</section>


