        <%= javascript_include_tag 'modernizr.custom.js' %> <script type="text/javascript"> </script>
       <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>
       <%= stylesheet_link_tag    'component.self-8b53d3bcc965f549da26f6eaf632df0b5c1.css' %>
        <%= stylesheet_link_tag  "grid.css" %>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-28" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="mbr-header__text">DOCTORLOANS.IO</h1>

            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>If you’re a medical professional who wants to buy a home, we can help. The Doctor Loan is designed to meet your unique needs, and may make it easier to qualify for a mortgage.</p>

<p>The Doctor Loan is a good choice for medical residents and licensed, practicing doctors, dentists or other eligible medical professionals. Contact us to learn more. We will be there to help you every step of the way, from application until closing.
</p></div>
        </div>
    </div>

</section>


<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-12" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">Explore Your Loan Options</h3>

            </div>
        </div>
    </div>




    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">

                    <figure class="mbr-figure">
                    <a href="<%= asset_path(doctor_path)%>">
                    <img src="<%= asset_path('thumbs/thumb1.png')%>" class="mbr-figure__img">
                        <figcaption>

                        <p>Do you qualify?</p>

                        </figcaption>
                    </a>
                    </figure>
                    </div>






            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(new_apply_path) %>">
                    <img src="<%= asset_path('thumbs/thumb2.png')%>" class="mbr-figure__img">
                        <figcaption>

                        <p>Let's get started.</p>

                        </figcaption>
                    </a>
                    </figure>
                </div>


            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(other_path) %>">
                    <img src="<%= asset_path('thumbs/thumb3.png')%>" class="mbr-figure__img">
                        <figcaption>

                        <p>Not a Doctor?</p>

                        </figcaption>
                    </a>
                    </figure>
                </div>


            </div>

            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--last" style="padding-bottom: 93px;">
                    <figure class="mbr-figure">
                    <a href="<%= asset_path(new_contact_path) %>">
                    <img src="<%= asset_path('thumbs/thumb4.png')%>" class="mbr-figure__img">
                        <figcaption>

                        <p>Contact Us.</p>

                        </figcaption>
                        </a>
                    </figure>
                </div>



        </div>
    </div>
</section>


