  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

<div id="mainwrapper">
  <div class="main">
    <div class="container">
      <!-- Features -->
      <div class="features">
        <div class="row">
          <!-- Each features should be enclosed inside the class "widget-x". x denotes a,b,c... -->
          <!-- Features #1 -->
          <div class="widget-a">
            <div id="box-1" class="box">




        <img id="image-1" src="<%= asset_path('img/testbox.png')%>"/>
        <span class="caption simple-caption">
        <p>Do you qualify?</p>
        </span>

            <!-- Icon -->

            </div>
            <!-- Info (i.e title) -->
            <div class="finfo">
              <h3>The Doctor Loan </h3>
            </div>

          </div>
          <!-- Features #2 -->
          <div class="widget-b">
              <!-- Image Caption 2 -->
            <div id="box-2" class="box">
        <img id="image-2" src="<%= asset_path('img/google-plus.png')%>"/>
        <span class="caption simple-caption">
            <p>Contact Us</p>
            </span>

            </div>
             <div class="finfo">
              <h3>PreApproval </h3>


          </div>
    </div>



          <!-- Features #3 -->
          <div class="widget-c">
            <div id="box-3" class="box">
            <img id="image-3" src="<%= asset_path('img/google-plus.png')%>"/>
            <span class="caption full-caption">
            <p>Who we are</p>
            </span>

            </div>
             <div class="finfo">
              <h3>About Us </h3>
            </div>
          </div>
          <!-- Features #4 -->
          <div class="widget-d">
            <div id="box-4" class="box">
            <img id="image-4" src="<%= asset_path('img/google-plus.png')%>"/>
            <span class="caption full-caption">
        <p>Not a Doctor?</p>
        </span>

            </div>
             <div class="finfo">
             <h3>Other Options </h3>
            </div>
          </div>
        </div>
      </div>
 <!-- end of #mainwrapper-->
    <!-- Gallery -->
    <div class="gallery">
      <div class="row">
        <div class="span12">
          <h2><b>GALLERY</b></h2>
          <!-- Pics. Full version image link should be given in <a> tag. Thumbnail version image should be given in <img> tag. -->
          <div class="pics"> <a href="<%= asset_path('img/photos/1.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_1.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/2.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_2.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/3.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_3.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/4.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_4.jpg')%>" alt="" /></a> </div>
        </div>
      </div>
    </div>
