     <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <div class= "addpad">
    <h2><b>TESTIMONIALS</b></h2>
    <!-- Testimonial section -->
    <div class="testimonial">
      <div class="row">

        <% @testimonials.each do |testimonial| %>
        <div class="span6">
          <!-- Each testimonial should be given inside "testi" class -->
          <!-- Testimonial #1 -->
          <div class="testi">
            <!-- Testimonial author -->
            <div class="tauthor">
              <!-- Author pic -->
              <img src="<%= asset_path('img/testi2.gif')%>" alt="" /> </div>
            <div class="tinfo">
              <!-- Quote -->
              <blockquote>
                <p><%= testimonial.description %></p>
                <!-- Author details -->
                <small class="pull-right"><%= testimonial.user.email %></small> </blockquote>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
          <% end %>





      </div>
    </div>
    </div>
