
<!DOCTYPE html>
<html>
<head>
<%= render 'favicon' %>
  <%= display_meta_tags %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="2GZ-aYa1oDtM6Fh59w7PNYW88iLYin2HpZkNFqM4A6g" />
  <meta name="google-site-verification" content="TKZfX2x3mlU7vMJ2rMd3fV-aeBxK-U_mosqj5L80Xyc" />

</head>
<body>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
<%= stylesheet_link_tag 'application.css' %>
<%= javascript_include_tag "analytics.js" %> <script type="text/javascript"></script>
<%= render 'layouts/header' %>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>



