
<!DOCTYPE html>
<html>
<head>
<%= render 'favicon' %>
  <%= display_meta_tags %>

<%= javascript_include_tag "analytics.js" %> <script type="text/javascript"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="2GZ-aYa1oDtM6Fh59w7PNYW88iLYin2HpZkNFqM4A6g" />
  <meta name="google-site-verification" content="TKZfX2x3mlU7vMJ2rMd3fV-aeBxK-U_mosqj5L80Xyc" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
   <%= stylesheet_link_tag    "mbr-bootstrap.min.self-284e9de4b83af461c76d7fbe082.css" %>
  <%= stylesheet_link_tag  "mbr-style.self-ad2355dd360c8f24d167978a5ce7870881f.css" %>
  <%= stylesheet_link_tag  "mbr-additional.self-8e02c2e8282b5fb02058143efbb2d0.css" %>
  <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>

</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>



